.banner img{
    height: 220px;
    width: 100%;
    border-radius:10px;
    cursor: pointer;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.banner .owl-dots{
    display: none;
}
.banner .owl-nav{
    display: none;
}

@media only screen and (max-width: 600px) {
    .banner img{
        height: 170px;
        width: 100%;
    }
    .img2{
        display: none;
    }
    .img3{
        display: none;
    }
}   



@media only screen and (max-width: 768px) {
    .banner img{
        height: 150px;
        width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    .banner img{
        height: 160px;
        width: 100%;
    }
}